import multiprocessing

bind = "127.0.0.1:{{ APP_PORT }}"

workers = multiprocessing.cpu_count() * 2

chdir = "{{ APP_DIR }}"

pidfile = "/var/run/{{ APP_NAME }}/gunicorn.pid" 

user = "{{ APP_USER }}"

accesslog = "/var/log/{{ APP_NAME }}/gunicorn_access.log"

errorlog = "/var/log/{{ APP_NAME }}/gunicorn_error.log"

raw_env = [
    "DJANGO_SETTINGS_MODULE=wall.settings.{{ APP_ENVIRONMENT }}",
    'DB_NAME={{ DB_NAME }}',
    'DB_USER={{ DB_USER }}',
    'DB_PASSWORD={{ DB_PASSWORD }}'
    ]
