set httpd 
     port 2812
     use address 127.0.0.1
     allow localhost
     allow {{ APP_USER }}:{{ MONIT_WEB_PASSWORD }}

check process gunicorn with pidfile /var/run/{{ APP_NAME }}/gunicorn.pid
    group gunicorn
    start program = "{{ APP_VIRTUALENV }}/bin/gunicorn wall.wsgi:application --config /etc/{{ APP_NAME }}/gunicorn_config.py"
        as uid {{ APP_USER }} and gid {{ APP_USER }}
    stop program = "/bin/bash -c 'kill -s SIGTERM `cat /var/run/{{ APP_NAME }}/gunicorn.pid`'"
        as uid {{ APP_USER }} and gid {{ APP_USER }}
    depends on piddir_chown
